<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          <span class="display-4 text-primary">Receipts</span>
          <%= link_to 'Create Receipt', new_work_receipt_path, class: 'btn btn-primary pull-right' %>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Customer</th>
              <th>Car Number</th>
              <th>Discount</th>
              <th>Total</th>
              <th>Created By</th>
              <th>Created At</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @work_receipts.each do |receipt| %>
              <%- user = receipt.user %>
              <%- customer = receipt.customer %>
              <tr>
                <td class="text-info">
                  <%= receipt.id %>
                </td>
                <td><%= customer.name %></td>
                <td><%= receipt.car_no %></td>
                <td><%= receipt.discount %></td>
                <td><%= receipt.total %></td>
                <td class="text-primary" data-toggle="tooltip" data-placement="top" title="<%= user.name %>"> <%= user.email %> </td>
                <td> <%= receipt.created_at.strftime("%d-%m-%Y %I:%M %P") %> </td>
                <td>
                  <%= link_to work_receipt_path(receipt), class: 'btn btn-outline-primary' do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
