<%= form_with(model: job, local: true, class: 'forms-sample') do |f| %>
  <div class="form-group row">
    <label for="title" class="col-sm-3 col-form-label">Job Name</label>
    <div class="col-sm-9">
      <%= f.text_field :name, autofocus: true, :class=>"form-control", :placeholder=>"Enter a Job Name" %>
    </div>
  </div>
  <div class="form-group row">
    <label for="active" class="col-3 col-form-label">Active</label>
    <div class="col-9">
      <%= f.check_box :active %>
    </div>
  </div>
  <div class="form-group row">
    <label for="details" class="col-sm-3 col-form-label">Job Type</label>
    <div class="col-sm-9">
      <%= f.collection_select(:job_type_id, JobType.all, :id, :title, {:prompt=>true}, {:class=>'form-control'}) %>
    </div>
  </div>
  <div class="form-group row">
    <label for="details" class="col-sm-3 col-form-label">Details</label>
    <div class="col-sm-9">
      <%= f.text_area :details, :class=>"form-control", :placeholder=>"Enter Details if you have" %>
    </div>
  </div>
  <%= f.submit "Submit", :class=>'btn btn-success mr-2', data: { disable_with: "Please wait ..." } %>
  <%= link_to 'Cancel', jobs_path, class: 'btn btn-light' %>
<% end %>
