<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          <span class="display-4 text-primary">JOBS</span>
          <%= link_to 'Add New Job', new_job_path, class: 'btn btn-primary pull-right' %>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Job ID</th>
              <th>Name</th>
              <th style="max-width: 25%">Details</th>
              <th>Status</th>
              <th>Job Type</th>
              <th>Created By</th>
              <th>Created At</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @jobs.each do |job| %>
              <%- user = job.user %>
              <tr>
                <td class="text-success">
                  <%= job.id %>
                </td>
                <td><%= job.name %></td>
                <td><%= job.details %></td>
                <td>
                  <label class="badge badge-<%= job.active ? 'success' : 'danger' %>"><%= job.status %></label>
                </td>
                <td class="text-success">
                  <%= job.job_type.title  %>
                </td>
                <td class="text-primary" data-toggle="tooltip" data-placement="top" title="<%= user.name %>"> <%= user.email %> </td>
                <td> <%= job.created_at.strftime("%d-%m-%Y %I:%M %P") %> </td>
                <td>
                  <%= link_to edit_job_path(job), class: 'btn btn-outline-primary' do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
