<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Details:</strong>
  <%= @job.details %>
</p>

<p>
  <strong>Active:</strong>
  <%= @job.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @job.user_id %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @job.job_type_id %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
