<div class="card">
    <div class="card-header">
        <span class="display-4 text-primary">Dashboard</span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 cl-md-6 col-sm-12">
                <div id="printAllYearsReportContent">
                    <h4>All Year Reports</h4>
                    <%= render partial: 'summary_reports', locals: { reports: @all_years, report_base: 'Year' } %>
                </div>
                <div class="text-right mt-3 mb-3">
                    <button type="button" id="printAllYearsReportBtn" class="btn btn-primary btn-fw">Print</button>
                </div>
            </div>
            <div class="col-lg-6 cl-md-6 col-sm-12">
                <div id="printCurrentYearsReportContent">
                    <h4>Current Year (<%= current_year %>) Reports</h4>
                    <%= render partial: 'summary_reports', locals: { reports: @current_year, report_base: 'Month' } %>
                </div>
                <div class="text-right mt-3 mb-3">
                    <button type="button" id="printCurrentYearsReportBtn" class="btn btn-primary btn-fw">Print</button>
                </div>
            </div>
            <div class="col-lg-6 cl-md-6 col-sm-12">
                <div id="printCurrentMonthReportContent">
                    <h4>Current Month (<%= current_month %>) Reports</h4>
                    <%= render partial: 'summary_reports', locals: { reports: @current_month, report_base: 'Day' } %>
                </div>
                <div class="text-right mt-3 mb-3">
                    <button type="button" id="printCurrentMonthReportBtn" class="btn btn-primary btn-fw">Print</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
  $(document).ready(function(){

    $('#body_layer').on("click", "#printAllYearsReportBtn", function(evt) {
      var printBody = document.getElementById('printAllYearsReportContent');
      var opt = {
                  filename: 'AllYearsReport.pdf',
                };
      html2pdf().set(opt).from(printBody).save();
    });

    $('#body_layer').on("click", "#printCurrentYearsReportBtn", function(evt) {
        var printBody = document.getElementById('printCurrentYearsReportContent');
        var opt = {
                    filename: 'CurrentYearsReport.pdf',
                  };
        html2pdf().set(opt).from(printBody).save();
    });

    $('#body_layer').on("click", "#printCurrentMonthReportBtn", function(evt) {
        var printBody = document.getElementById('printCurrentMonthReportContent');
        var opt = {
                    filename: 'CurrentMonthReport.pdf',
                  };
        html2pdf().set(opt).from(printBody).save();
    });

  });
</script>
