<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-category"></li>
    <li class="nav-item">
      <%= link_to(job_types_path, class: "nav-link") do %>
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Job Types</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to(jobs_path, class: "nav-link") do %>
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Jobs</span>
      <% end %>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#customers-menu" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon typcn typcn-coffee"></i>
        <span class="menu-title">Customers</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="customers-menu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <%= link_to 'New Customer', new_customer_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Customers', customers_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
  </li>
    <li class="nav-item">
      <%= link_to(work_receipts_path, class: "nav-link") do %>
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Work Receipts</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to(dashboard_reports_path, class: "nav-link") do %>
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Dashboard</span>
      <% end %>
    </li>
  </ul>
</nav>
