<!DOCTYPE html>
<html>
  <head>
    <title>HardwareStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="container-scroller">
    <%= render "layouts/navbar" %>
  <div class="container-fluid page-body-wrapper">
    <%= render "layouts/sidebar" %>
    <div class="main-panel">
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
    
  </body>
</html>

<script>
  $(document).ready(function(){
    
    $(".navbar-toggler.navbar-toggler-right").click(function(e) {
      e.preventDefault();
      $("#sidebar").toggleClass("active");
    });

  });
</script> 


